{{>header}}

<ul class="people_list">
  {{#each datos}}
  {{userCanSee}}
     {{#if userCanSee}}
    <li>{{this}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Rol de la persona :este de aspirante}</h2>

{{>footer}}